
.dczk-token {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-size: 22px 22px;
}
.token-DAI {
  @extend .dczk-token;
  background-image: url(../img/dai.svg);
}
.token-ETH {
  @extend .dczk-token;
  background-image: url(../img/eth.svg);
}
.token-DCZK {
  @extend .dczk-token;
  background-image: url(../img/dczk.png);
}

.logo {
  width: 75px;
  height: 75px;
  display: inline-block;
  background-size: 75px 75px;
  background-image: url(../img/dczk.png);
  margin-right: 1em;
}

.dczk-tokens {
  td {
    line-height: 25px;
  }
}

.dczk-overview {
  p.title {
    font-size: 30px;
  }
  p.subtitle {
    font-size: 16px;
  }
}
.control.has-text-right {
  .text {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 2.5em;
    padding-right: 1em;
    z-index: 4;
    color: #808080;
  }
  .is-right {
    right: 0;
  }
}

.level-right.amounts {
  .level-item {
    font-weight: normal;
    font-size: 0.8em;
  }
}
table.rates {
  tr.rate-created td {
    background-color: hsl(141, 53%, 53%); 
    color: white;
  }
  tr.rate-removed td {
    background-color: hsl(348, 100%, 61%); 
    color: white;
  }
  tr.rate-added td {
    background-color: hsl(48, 100%, 67%); 
    small {
      color: green;
    }
  }
  tr.rate-subtracted td {
    background-color: hsl(48, 100%, 67%); 
    small {
      color: red;
    }
  }
}
